body{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  background-color: rgba(5, 5, 5, 0.9);
  
  backdrop-filter: saturate(180%) blur(10px);
}

.intro-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .App {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
